.background{
    border-top: 1px solid #ddd;
    background: #f6f6f6;
    width:100%;
}
.item{
    color: #222;
    padding: 0.5rem 0.5rem;
}
.wrap{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}