<input type="text" pInputText /><button pButton type="button" icon="fa-check" label="Click"></button>
<p-dataTable [value]="teams" [rows]="row" [paginator] = "true" [totalRecords]="length">
    <p-column header="Id" field="team_id"[sortable]="true"></p-column>
    <p-column header="Rating"  field="rating" [sortable]="true"></p-column>
    <p-column header="Wins" field="wins" [sortable]="true"></p-column>
    <p-column header="Losses" field="losses" [sortable]="true"></p-column>
    <p-column header="Last match time" field="last_match_time" [sortable]="true"></p-column>
    <p-column header="Name" field="name"[sortable]="true"></p-column>
    <p-column header="Tag" field="tag" [sortable]="true"></p-column>
</p-dataTable>