@import "./../../../variable.scss";

$height:20px;
nav{
    width:100%;
    height: 100%;
    box-sizing: border-box;
    padding: 70px 5px 0 0;
}

.nav-item{
    display: inline-block;
    outline: none;
}
span:hover{
    color: white;
}
.sub-item{
    padding:5px 0 0 45px;
    outline: none;
    font-size:14px;
}
.item{
    padding:10px 1px 10px 20px ;
    //border-top: 1px solid $grey2;
    font-size: 16px;
    outline: none;
}
.item.active{
    color: $blue1;
}
.sub-item.active{
    color: $blue1;
}