<div class="content-wrap">
    <article>
        <h3>Abstract Example</h3>
        <app-abstract [articleTitle]="articleTitle" [content] ="content" [words]="20" ></app-abstract>
    </article>
    <article>
        <h3>Markdown Example</h3>
        <code># H1</code>
        <markdown># H1</markdown>
        <code>## h2h2</code>
        <markdown> ## h2h2</markdown>
        <pre>
        * a
        * b
        * c
        </pre>
        <markdown>
            * a
            * b
            * c
        </markdown>
        <code>***</code>
        <markdown>
            ***
        </markdown>
        <code>[I'm an inline-style link](https://www.google.com)</code>
        <markdown>
            [I'm an inline-style link](https://www.google.com)
        </markdown>
        <pre><code>
            | Tables        | Are           | Cool  |
            | ------------- |:-------------:| -----:|
            | col 3 is      | right-aligned | $1600 |
            | col 2 is      | centered      |   $12 |
            | zebra stripes | are neat      |    $1 |
        </code>
        </pre>
        <markdown>
            | Tables        | Are           | Cool  |
            | ------------- |:-------------:| -----:|
            | col 3 is      | right-aligned | $1600 |
            | col 2 is      | centered      |   $12 |
            | zebra stripes | are neat      |    $1 |
        </markdown>
        <code>Use the `printf()` function.</code>
        <markdown>
        Use the `printf()` function.
        </markdown>
        <markdown>
            ```typescript
             const myProp: string = 'value';
            ```
        </markdown>
    </article>
</div>
<pre  class="language-typescript">
    <code class="language-typescript">
        const myProp: string = 'value';
    </code>
</pre>



<pre  class="language-python">
    <code class="language-python">
        import threading
        from concurrent import futures
        import time
        import csv
        try:
            from functools import namedtuple
        except ImportError:
            from collections import namedtuple
        header = ["aid", "view", "danmaku", "reply", "favorite", "coin", "share"]
        Video = namedtuple('Video', header)
    </code>
</pre>