<div class="">
    <div class="d-flex flex-row no-gutters">
        <app-side-bar *ngIf="showSideBar" class="col-2 side-bar"></app-side-bar>
        <div class="main col-auto">
            <app-title-bar class="d-flex flex-row"></app-title-bar>
            <div class="d-flex flex-row content">
                <router-outlet></router-outlet>
            </div>
            <app-foot-bar class="d-flex flex-row"></app-foot-bar>
        </div>
    </div>
</div>
<div class="sidebar-toggle" (click)="onClickToggle()">
    <div id="toggle">click!</div>
</div>